<!-- <button type="button" class="btn btn-primary">My name is Prajay</button> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div
        style="text-align: center"
        class="d-flex gap-3 align-items-start flex-column"
      >
        <h1>Angular Test App</h1>
        <!-- doubleBind the input to username -->
        <input type="text" [(ngModel)]="username" />
        <p
          class="border border-primary d-block"
          style="min-height: 30px; min-width: 100px"
        >
          {{ username }}
        </p>
        <!-- reset username to ''. Only work when username is not empty -->
        <button
          class="btn btn-dark"
          [disabled]="username === '' ? true : false"
          (click)="username = ''"
        >
          Reset
        </button>

        <app-servers></app-servers>
      </div>
    </div>
  </div>
</div>
<!-- <app-success></app-success>
<app-warning></app-warning> -->
